{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}

        <center>Area de Tecnología de la Información, Estadística y Mantenimiento de Sistemas - 
        Sistema de Cargas</center>
        <hr>
{%  endblock %}

{% block main %}

    <div class="row">
        <div class="col-6">
            <h3><center>Últimas Reparaciones</center></h3>
            <br>
            <ul>
                {% for reparacion in ultimasReparaciones %}
                    <li>
                        <a>Departamento/Area: {{ reparacion.departamentoArea }}</a>
                        <br>Equipo: {{ reparacion.equipo }}
                        <br>Creado: {{ reparacion.createdAt|date('d/m/Y') }}
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </div>

        <div class="col-6">
            <center><h3>Últimos Servicios</h3></center>
            <br>
            <ul>
                {% for servicio in ultimosServicios %}
                    <li>
                        <a>Departamento/Area: {{ servicio.departamentoArea }}</a>
                        <br>Servicio: {{ servicio.equipo }}
                        <br>Creado: {{ servicio.createdAt|date('d/m/Y') }}
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}